absl-py==0.9.0
alabaster==0.7.12
annoy==1.14.0
args==0.1.0
astor==0.8.1
astunparse==1.6.3
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
bayesian-optimization==1.0.3
bayespy==0.5.18
beautifulsoup4==4.8.2
bleach==1.5.0
blis==0.4.1
blurhash==1.1.4
boost==0.1
Bottleneck==1.3.2
cachetools==4.0.0
catalogue==1.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
clint==0.5.1
cloudpickle==1.3.0
cmake==3.16.3
coco==0.4.0
colorama==0.4.3
cycler==0.10.0
cymem==2.0.3
Cython==0.29.15
dask==2.12.0
dataclasses==0.7
deap==1.3.1
decorator==4.4.1
defusedxml==0.6.0
distributed==2.12.0
dlib==19.7.0
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
entrypoints==0.3
enum34==1.1.9
fastai==1.0.60
fasteners==0.14.1
fastprogress==0.2.2
Flask==1.1.1
Flask-Executor==0.9.3
Flask-MySQLdb==0.2.0
future==0.18.2
gast==0.2.2
google-auth==1.11.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.27.2
h5py==2.9.0
HeapDict==1.0.1
html5lib==0.9999999
idna==2.8
imageio==2.6.1
imagesize==1.2.0
imgaug==0.4.0
importlib-metadata==1.5.0
imutils==0.5.3
ipykernel==5.1.4
ipyparallel==6.2.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.0.0
jupyter-core==4.6.3
kaggle==1.5.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
llvmlite==0.31.0
lz4==2.1.2
Markdown==3.2.1
MarkupSafe==1.1.1
mask-rcnn==2.1
Mastodon.py==1.5.0
matplotlib==3.1.2
mistune==0.8.4
monotonic==1.5
mrcnn==0.2
msgpack==1.0.0
murmurhash==1.0.2
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.19
mysqlclient==1.4.6
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
nibabel==3.0.1
nose==1.3.7
notebook==6.0.3
numba==0.48.0
numexpr==2.7.1
numpy==1.16.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencv-python==4.1.2.30
opt-einsum==3.2.0
packaging==20.3
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.2
patsy==0.5.1
pickleshare==0.7.5
Pillow==6.2.0
plac==1.1.3
preshed==3.0.2
progressbar2==3.50.0
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.3
psutil==5.7.0
py2exe==0.9.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.4.3
pycocotools==2.0
Pygments==2.5.2
pymagnitude==0.1.120
PyMySQL==0.9.3
PyOpenGL==3.1.5
pyparsing==2.4.6
pyrsistent==0.15.7
python-crontab==2.4.0
python-dateutil==2.8.1
python-magic==0.4.15
python-slugify==4.0.0
python-utils==2.4.0
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3
pyzmq==19.0.0
qtconsole==4.7.1
QtPy==1.9.0
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
Send2Trash==1.5.0
Shapely==1.7.0
SimpleITK==1.2.4
six==1.14.0
sklearn==0.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
soupsieve==2.0
spacy==2.2.3
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.13
srsly==1.0.2
statsmodels==0.11.1
stopit==1.1.2
tablib==1.1.0
tb-nightly==2.2.0a20200306
tblib==1.6.0
tensorboard==2.1.1
tensorboard-plugin-wit==1.6.0.post2
tensorboardX==2.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorflow-tensorboard==0.4.0
tensorlayer==2.2.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
tf-estimator-nightly==2.1.0.dev2020030601
thinc==7.3.1
toolz==0.10.0
torch==1.4.0+cpu
torchsummary==1.5.1
torchvision==0.5.0+cpu
tornado==5.0.2
TPOT==0.10.2
tqdm==4.32.1
trackml==0.1.12
traitlets==4.3.2
trueskill==0.4.5
tsfresh==0.12.0
typed-ast==1.3.4
typing==3.6.6
typing-extensions==3.6.6
tzlocal==2.0.0
umap-learn==0.3.10
unicodecsv==0.14.1
Unidecode==1.1.1
update-checker==0.16
uritemplate==3.0.0
urllib3==1.24.2
urwid==2.0.1
vecstack==0.4.0
vega3==0.13.0
vida==0.3
visvis==1.11.2
wasabi==0.6.0
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.12.0
xxhash==1.3.0
yellowbrick==0.9.1
zict==1.0.0
zipp==0.5.2
