<html>
<head>
    <title>Fatigue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<script>
    function onlyOne(checkbox) {
    var checkboxes = document.getElementsById('gender')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
</script>
<div>
    <h3>Q.1 How tired do you feel, right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que1">
    <br>
    <h3>Q.2 How lacking in energy are you right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que2">
    <br>
    <h3>Q.3 How much do you need to rest right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que3">
    <br>
    <h3>Q.4 How alive and vital do you feel right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que4">
    <br>
    <h3>Q.5 How wide-awake do you feel right now??</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que5">
    <br>
    <h3>Q.6 How energetic do you feel right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que6">
    <br>
    <h3>Q.7 How mentally alert do you feel right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que7">
    <br>
    <h3>Q.8 How drained do you feel right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que8">
    <br>
    <h3>Q.9 How close do you feel to your typical level of strength right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que9">
    <br>
    <h3>Q.10 How refreshed do you feel right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que10">
    <br>
    <h3>Q.11 How easy would it be for you to fall asleep right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que11">
    <br>
    <h3>Q.12 How well can you concentrate right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que12">
    <br>
    <h3>Q.13 How drowsy or sleepy do you feel right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que13">
    <br>
    <h3>Q.14 How exhausted do you feel right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que14">
    <br>
    <h3>Q.15 How slow and sluggish are you right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que15">
    <br>
    <h3>Q.16 How calm and peaceful do you feel right now? </h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que16">
    <br>
    <h3>Q.17 How easy would it be for you to concentrate on a puzzle right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que17">
    <br>
    <h3>Q.18  How mentally sharp do you feel right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que18">
    <br>
    <h3>Q.19 How easy would it be for you to do something very physically active right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que19">
    <br>
    <h3>Q.20 How rested do you feel right now?</h3>
    1.Not at all
    2.A little
    3.Moderately
    4.Very
    5.Extremely
    Enter the number in text box below from 1 to 5.
    <input type="text" name="que20">
    <br>
</div>
</body>
</html>